<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a th:href="@{|/|}">
        <img src="https://img2.freepng.fr/20180602/zc/kisspng-home-logo-marc-ronan-sales-representative-owner-c-arab-house-5b12f27985e999.1495639715279683775485.jpg" class="card-img-top" width="50px" high="50px"/>
    </a>
    <a th:href="@{|/cart|}">
        <img src="https://e7.pngegg.com/pngimages/18/45/png-clipart-e-commerce-shopping-cart-online-shopping-shopping-cart-decoration-angle-logo.png" class="card-img-top" width="50px" high="50px"/>
    </a>
    <a th:href="@{|/orderPage|}">
        <img src="https://media.istockphoto.com/vectors/shopping-cart-and-check-mark-icon-vector-completed-order-confirm-flat-vector-id1153430607" height="50px" width="50px">
    </a>
</div>
<h1>
  Panier de yoplait
</h1>

<div>
    <div th:each="product : ${cartBean.products}" class="col-md-4 my-1">
            <p>Id : <span th:text= "${product.productId}"></span>, quantité : <span th:text= "${product.quantity}"></span></p>
    </div>
</div>

</body>
</html>