<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/cartStyle.css}"/>
</head>
<body>
<div class="menu">
    <div class="nav1">
        <a th:href="@{|/|}">
            <img src="https://img2.freepng.fr/20180602/zc/kisspng-home-logo-marc-ronan-sales-representative-owner-c-arab-house-5b12f27985e999.1495639715279683775485.jpg" class="card-img-top" width="50px" height="50px"/>
        </a>
    </div>
    <div class="nav2">
        <a th:href="@{|/cart|}">
            <img src="https://e7.pngegg.com/pngimages/18/45/png-clipart-e-commerce-shopping-cart-online-shopping-shopping-cart-decoration-angle-logo.png" class="card-img-top" width="50px" height="50px"/>
        </a>
        <a th:href="@{|/deconnexion|}">
            <img src="https://th.bing.com/th/id/OIP.Epd8P5-9W6jf635HCEkRzgHaHa?w=172&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" width="50px" height="50px">
        </a>
    </div>
</div>
<h1>
  Panier de yoplait
</h1>

<div class="contenu">
    <div th:each="product : ${cartBean.products}" class="produits">
        <p>Id : <span class="identifiant" th:text= "${product.productId}"></span>Quantité : <span class="quantite" th:text= "${product.quantity}"></span></p>
        <form th:action="@{|/retriveOne/${product.productId}|}">
            <input class="button" type="submit" name="validRet" value="-">
        </form>
        <form th:action="@{|/addOne/${product.productId}|}">
            <input class="button" type="submit" name="validAdd" value="+">
        </form>
    </div>
    <form class="valider" th:action="@{|/orderPage|}">
        <input type="submit" name="valid" value="Valider et commander">
    </form>
</div>

</body>
</html>