<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Microservice Client</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container">
    <div>
        <a th:href="@{|/|}">
            <img src="https://img2.freepng.fr/20180602/zc/kisspng-home-logo-marc-ronan-sales-representative-owner-c-arab-house-5b12f27985e999.1495639715279683775485.jpg" class="card-img-top" width="50px" high="50px"/>
        </a>
        <a th:href="@{|/cart|}">
            <img src="https://e7.pngegg.com/pngimages/18/45/png-clipart-e-commerce-shopping-cart-online-shopping-shopping-cart-decoration-angle-logo.png" class="card-img-top" width="50px" high="50px"/>
        </a>
    </div>
    <h1>Microservice Client eCommerce</h1>
    <div class="row">
        <h1 th:text="${product.name}"></h1>
        <p th:text="${product.description}"></p>
        <img th:src="${product.illustration}" class="card-img-top" width="100px" high="100px"/>
        <p th:text="${product.price}"></p>
        <div>
            <form th:action="@{|/addCart/${product.id}|}">
                <input type="submit" name="ajoupanier" value="Ajouter au panier">
            </form>

        </div>
    </div>
</div>
</body>
</html>