<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Microservice Client</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container">
    <div>
        <a th:href="@{|/|}">
            <img src="https://img2.freepng.fr/20180602/zc/kisspng-home-logo-marc-ronan-sales-representative-owner-c-arab-house-5b12f27985e999.1495639715279683775485.jpg" class="card-img-top" width="50px" high="50px"/>
        </a>
        <a th:href="@{|/cart|}">
            <img src="https://e7.pngegg.com/pngimages/18/45/png-clipart-e-commerce-shopping-cart-online-shopping-shopping-cart-decoration-angle-logo.png" class="card-img-top" width="50px" high="50px"/>
        </a>
        <a th:href="@{|/orderPage|}">
            <img src="https://media.istockphoto.com/vectors/shopping-cart-and-check-mark-icon-vector-completed-order-confirm-flat-vector-id1153430607" height="50px" width="50px">
        </a>
    </div>
    <h1>Microservice Client eCommerce</h1>
    <div class="row">
        <div th:each="product : ${products}" class="col-md-4 my-1">
            <a th:href="@{|/product-detail/${product.id}|}" >
                <img th:src="${product.illustration}" class="card-img-top" width="100px" high="100px"/>
                <p th:text= "${product.name}"></p>
            </a>
        </div>
    </div>
</div>
</body>
</html>