<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Les SOSSUR</title>
</head>
<body>
<div>
    <a th:href="@{|/|}">
        <img src="https://img2.freepng.fr/20180602/zc/kisspng-home-logo-marc-ronan-sales-representative-owner-c-arab-house-5b12f27985e999.1495639715279683775485.jpg" class="card-img-top" width="50px" high="50px"/>
    </a>
    <a th:href="@{|/cart|}">
        <img src="https://e7.pngegg.com/pngimages/18/45/png-clipart-e-commerce-shopping-cart-online-shopping-shopping-cart-decoration-angle-logo.png" class="card-img-top" width="50px" high="50px"/>
    </a>
</div>
<h1>
    Commande n°<span th:text="${order.id}"></span>
</h1>
<div>
    <h2>
        Produits :
    </h2>
    <div th:each="product : ${products}" class="col-md-4 my-1">
        <p>
            Id : <span th:text= "${product.id}"></span>,
            quantité : <span th:text= "${product.quantity}"></span>,
            prix unitaire : <span th:text="${product.price}"></span>€,
            prix total : <span th:text="${product.totalPrice}"></span>€
        </p>
    </div>

    <h2>
        Prix total :
    </h2>
    <h2>
        <span th:text="${order.total}"></span>€
    </h2>
    <form th:action="@{|/pay|}">
        <input type="submit" name="payer" value="Payer">
    </form>
</div>

</body>
</html>