    html {
        height: 100%;
        background-image: linear-gradient(-225deg, #E3FDF5 40%, #FFE6FA 60%);
    }

    h1 {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 170px;
      font-size: 4em;
    }

  .menu {
      margin: 5px;
  }

  .row {
      display: flex;
      width: 60%;
      margin: 0 auto ;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
  }

  text {
      justify-content: center;
  }

  .product {
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 40px;
  }

  .menu {
      width : 100%;
      margin-top : 20px;
      display: flex;
      justify-content: space-between;
  }

  .nav1 {
      margin-left : 30px;
  }

  .nav2 {
      margin-right : 50px;
  }