html {
    height: 100%;
    background-image: linear-gradient(-225deg, #E3FDF5 40%, #FFE6FA 60%);
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 170px;
    font-size: 4em;
}

.menu {
    width : 100%;
    margin-top : 20px;
    display: flex;
    justify-content: space-between;
}